# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# PaddleOCR models (optional but recommended)
.paddleocr/

# bunq apis
API.txt
bunq_private_key.pem
bunq_public_key.pem
bunq_state.json